@import 'bourbon';
@import 'neat';
@import 'bitters';

// colors
$blue: rgb(62, 148, 224);
$dark-blue: rgb(4, 34, 84);
$light-blue: rgb(239, 244, 247);
$white-blue: rgb(252, 253, 255);

// measures
$header-height: 108px;
$box-height: 15em;
$radius: 0.25em;

// fonts
@include font-face(MagionRegular, "Magion_Regular", bold);
@include font-face(BotanikaRegular, "Botanika_Regular", bold);

// general styles
@mixin main-width {
  @include outer-container;
  max-width: 60em;
  min-width: 60em;
}

body {
  margin: 0px;
  font-family: BotanikaRegular;
}

h1, h2, h3 {
  font-family: MagionRegular;
}


// specific styles
#header-row {
  @inlude row;
  background-color: $dark-blue;
  height: $header-height;

  header {
    @include outer-container;

    #drops {
      z-index: 20;
      position: relative;
      top: 2em;
      left: 5.5em;
      width: em(79);
      height: em(117);
      background-image: url(/images/Kapky.png);
    }

    h1.fn {
      position: relative;
      top: -1.5em;
      left: 2.5em;
      z-index: 1;
      font-size: 4.5em;
      a {
        color: $blue;
      }
    }

    #chooser {
      z-index: 2;
      position: relative;
      top: -9.5em;
      left: 55em;
      border: thin solid $white-blue;
      width: 8em;
      text-align: center;
      @include pad(0.5em);

      select {
        text-align: center;
        margin: 0;
        border: none;
        font-family: MagionRegular;
        -webkit-appearance:none;
        background: $dark-blue;
        color: $white-blue;
      }
    }
  }
}

#main-content {
  @include main-width;
  box-shadow: 0 0 0.2em 0.125em hsla(0, 0%, 0%, 0.15);

  position: relative;
  background-color: $white-blue;
  padding-bottom: 3em;
  z-index: 10;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;

  #what, #why {
    @include row;

    height: $box-height;
    vertical-align: middle;
    margin-top: 4em;

    h2 {
      @include span-columns(2);
      @include shift;
      @include omega;

      background-color: $blue;
      color: $white-blue;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      text-align: right;
      height: 100%;
      padding: 3em 0.5em 0 1em;

      span.title {
        @include position;
        z-index: 5;
      }

      span.arrow {
        @include transform(rotate(45deg));
        @include position(-1.33em 0 0 1em);

        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        background-color: $blue;
        z-index: 1;
        margin: 0;
      }
    }

    div.text {
      @include span-columns(8);
      @include pad(2em 2em 2em 4em);

      background-color: $light-blue;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      height: 100%;

      strong {
        font-family: Magion;
      }

    }
  }

  #general {
    @include row;

    margin-top: 2em;

    div.text {
      @include span-columns(9);
      @include shift;
      @include pad(2em 2em 2em 4em);
    }

    h1 {
      margin-bottom: 0.66em;
    }

    ol li {
      list-style-type: decimal;
    }
  }


  &.project {
    #what {
      div.text {
        padding-top: 4em;
      }
    }

    #why {
      div.text {
        padding-top: 2.5em;
      }
    }
  }

  &.research {
    #what {
      div.text {
        padding-top: 2em;
      }
    }

    #why {
      div.text {
        padding-top: 3.25em;
      }
    }
  }
}

@mixin wave-background {
  background-image: url(/images/Vlny.png);
  background-repeat: repeat-x;
  z-index: 1;
  width: 100%;
}

#first-waves {
  @include position(-4em 0 0 0);
  height: 2.2em;
  @include wave-background;
  opacity: 0.75;
}

#second-waves {
  @include position(-7em 0 0 0);
  height: 2.2em;
  @include wave-background;
  opacity: 0.95;
}

#ocean {
  @include position(-4em 0 0 0);
  height: 6em;
  background-color: $blue;
  opacity: 0.75;
}

#footer-row {
  background-color: $blue;
  @include position(-7em 0 0 0);
  border-bottom: 1em solid $dark-blue;

  footer {
    @include main-width;
    @include outer-container;
    @include pad(2em 14em);

    color: $light-blue;
    text-align: center;

    a {
      color: $light-blue;

      h1 {
        display: inline;
        font-size: 1em;
      }
    }

    img {
      margin-top: 2em;
    }
  }
}
