---
title: 'Dropouts.cz - co vede k opuštění studia na vysoké škole'
---
div id="main-content" class="retention"
  div id="general"
    div class="text"
      markdown:
        # Minulý projekt

        Současný výzkum zpracováváme jako pokračování a rozšíření projektu z roku 2007, který se zabýval retencí (udržením) studentů na pražských ekonomických fakultách.

        Výzkum z roku 2007 se zabýval identifikací důvodů vedoucích studenty k opouštění studia na vysoké škole, analyzováním rizik plynoucích ze současné podpůrné pedagogické činnosti vysokých škol a jejich podpůrných aktivit ve vztahu k předčasným odchodům studentů ze studia. Zkoumanými ústavy byly ekonomické fakulty veřejných vysokých škol situované v Praze a všechny fakulty České zemědělské univerzity v Praze. Výzkum byl prováděn prostřednictvím dotazníků, rozhovory s pracovníky studijních oddělení a obsahovou analýzou vybraných studijních dokumentů specificky zaměřenou na překážky ve&nbsp;studiu, které studenti sami uvádí a analýzou dat získaných z informačních systémů fakult.

        Publikovaný článek z výzkumu 2007 si můžete přečíst [zde](/docs/Strategie_retence_essentia_2007_Svec_Ticha.pdf).
